@import '../../styles/typography.scss';
@import '../../styles/colors.scss';

.footer {
  display: flex;
  align-items: center;
  height: fit-content;
  max-height: fit-content;
  background-color: $main-200;
}

.footerRight {
  max-height: fit-content;
  height: fit-content;
  width: 50%;
  img {
    width: 100%;
    display: block;
  }
}

input {
  border: none;
  border-bottom: 1px solid #fff; /* You can change the color here */
  padding: 5px;
  background-color: transparent;
}

input::placeholder {
  color: #fff; /* You can use any color you prefer */
}

.contactForm {
  background-color: $main-200;
}

.footerLeft {
  width: 50%;
  padding: 0 5%;
  height: 100%;
  color: #fff;
  h1 {
    @include title-1;
  }
  h2 {
    @include body;
    color: #fff;
    font-size: 15px;
    margin-top: 7px;
  }
  .contactForm {
    padding: 25px 0;
  }
  .inputRow {
    display: flex;

    align-items: center;
    input {
      margin-right: 20px;
      width: 35%;
      margin-bottom: 15px;
      @include base-typography;
      font-size: 15px;
    }
  }
  select {
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    margin: 0;
    width: calc(70% + 20px);
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 15px;

    @include base-typography;
  }
  select option {
    background-color: $main-200; /* Background color of each option */
    color: #fff; /* Text color of each option */
    @include base-typography;
  }
}

.btnWrapper {
  padding: 10px 0;
  width: calc(70% + 20px);
  display: flex;
  justify-content: flex-end;
}

a {
  @include base-typography;
  font-size: 15px;
  padding: 5px 10px;

  border-bottom: 1px solid white;
}

@media (max-width: 576px) {
  .footer {
    flex-direction: column;
  }

  .footerRight {
    width: 100%;
  }

  .footerLeft {
    width: 100%;
    padding-top: 20px;
    padding: 0 10%;
    padding-left: 20%;
    padding-top: 20px;
  }

  a {
    @include base-typography;
    font-size: 10px;
    padding: 5px 8px;

    border-bottom: 1px solid white;
  }

  select {
    font-size: 10px !important;
  }

  input {
    font-size: 10px !important;
  }
  .footer {
    h2 {
      max-width: calc(70% + 30px);
    }

    h1 {
      max-width: calc(70% + 30px);
    }
  }
}
