@import '../../styles/typography.scss';
@import '../../styles/colors.scss';

.container {
  width: 100%;
  padding: 50px 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  @include title-1;
  color: $main-200;
  text-align: center;
}

.bodyText {
  @include body;
  text-align: center;
  margin-top: 15px;
}

.cardWrapper {
  padding: 25px 0;
  width: 80%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14.138px;
  background: #f86f03;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 45%;
  padding: 0 20px;
  h2 {
    @include title-2;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
  }
  p {
    @include callout;
    color: white;
    font-weight: 400;
  }
  .cardRight {
    width: 75%;
    padding-left: 20px;
  }
  height: 160px;
}

.cardRow {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

@media (min-width: 993px) and (max-width: 1400px) {
  .container {
    padding: 30px 5%;
  }
  .cardWrapper {
    width: 85%;
  }
  .card {
    p {
      font-size: 13px !important;
    }
    height: 130px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 30px 15px;
  }
  .cardRow {
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
  }

  .card {
    margin: 10px 0 !important;
    width: 90%;
    height: 80px;
    svg {
      width: 40px;
    }

    padding: 0 5px;
    p {
      font-size: 8px !important;
    }
  }
  .bodyText {
    padding: 0 20px;
  }
}
