@mixin base-typography {
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}

@mixin large-title {
  @include base-typography;
  font-weight: 600;
  font-size: 34px;
}

@mixin title-1 {
  @include base-typography;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin title-2 {
  @include base-typography;
  color: #333;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin subhead {
  @include base-typography;
  font-weight: 700;
  font-size: 15px;
}

@mixin footnote {
  @include base-typography;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}

@mixin caption-1 {
  @include base-typography;
  font-weight: 800;
  font-size: 12px;
  line-height: 146%;
}

@mixin base-typography {
  font-style: normal;
  line-height: 120%;
  font-family: 'Montserrat', sans-serif;
}

@mixin large-title {
  @include base-typography;
  font-weight: 600;
  font-size: 34px;
}

@mixin title-2 {
  @include base-typography;
  font-weight: 500;
  font-size: 22px;
}

@mixin title-3 {
  @include base-typography;
  font-weight: 500;
  font-size: 20px;
}

@mixin headline {
  @include base-typography;
  font-weight: 800;
  font-size: 17px;
}

@mixin body {
  @include base-typography;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #333;
}

@mixin bodyBold {
  @include base-typography;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #333;
}

@mixin callout {
  @include base-typography;
  font-weight: 600;
  font-size: 16px;
}

@mixin subhead {
  @include base-typography;
  font-weight: 700;
  font-size: 15px;
}

@mixin footnote {
  @include base-typography;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}

@mixin caption-1 {
  @include base-typography;
  font-weight: 800;
  font-size: 12px;
  line-height: 146%;
}

@media (min-width: 993px) and (max-width: 1400px) {
  /* CSS rules for large screens */
  h1 {
    @include title-1;
    font-size: 25px !important;
  }

  h2 {
    @include subhead;
    font-size: 17px !important;
  }

  p {
    @include body;
    font-size: 15px !important;
  }

  a {
    font-size: 15px !important;
  }
}

@media (max-width: 576px) {
  /* CSS rules for extra small screens */
  h1 {
    @include title-1;
    font-size: 15px !important;
  }

  h2 {
    @include subhead;
    font-size: 12px !important;
  }

  p {
    @include body;
    font-size: 12px !important;
  }

  a {
    font-size: 12px !important;
  }
}
